In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /home/devops/.config/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /home/devops/.config/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from pyspark) (0.10.9.7)

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
from pyspark.sql import SparkSession

# Создание SparkSession
spark = SparkSession.builder \
    .appName("Economic Data Analysis") \
    .config("spark.hadoop.fs.defaultFS", "hdfs://localhost:9000") \
    .config("spark.ui.port", "4050") \
    .getOrCreate()

# Установка количества разделов для shuffle операций
spark.conf.set("spark.sql.shuffle.partitions", "50")

25/04/07 12:11:15 WARN Utils: Your hostname, devopsvm resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
25/04/07 12:11:15 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/04/07 12:11:20 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [7]:
# Чтение данных из HDFS
file_path = "hdfs://localhost:9000/Moshenina/hadoop/input/economic_data/AFLT.csv"
df = spark.read.csv(file_path, header=True, inferSchema=True)

# Просмотр первых строк данных
df.show(5)

+----------+-----+-----+-----+-----+------+------+
|      Дата| Цена|Откр.|Макс.| Мин.| Объём|Изм. %|
+----------+-----+-----+-----+-----+------+------+
|07.04.2025|63,83|66,31|66,48|61,36|44,26M|-3,99%|
|06.04.2025|66,48|66,31|66,66|65,26|11,03M| 1,40%|
|05.04.2025|65,56|66,31|66,31|64,12| 7,22M|-1,35%|
|04.04.2025|66,46|70,90|71,50|65,10|90,01M|-5,54%|
|03.04.2025|70,36|67,43|70,59|64,11|38,78M| 4,35%|
+----------+-----+-----+-----+-----+------+------+
only showing top 5 rows

In [8]:
pandas_df = df.toPandas()
pandas_df.head()

         Дата   Цена  Откр.  Макс.   Мин.   Объём  Изм. %
0  07.04.2025  63,83  66,31  66,48  61,36  44,26M  -3,99%
1  06.04.2025  66,48  66,31  66,66  65,26  11,03M   1,40%
2  05.04.2025  65,56  66,31  66,31  64,12   7,22M  -1,35%
3  04.04.2025  66,46  70,90  71,50  65,10  90,01M  -5,54%
4  03.04.2025  70,36  67,43  70,59  64,11  38,78M   4,35%

Изменение прав доступа к каталогу:

Используйте команду hdfs dfs -chmod для изменения прав доступа и разрешения записи для нужного пользователя:
hdfs dfs -chmod 777 /user2/hadoop/economic_data